.round{
    border-radius: 50%;
}

.notasround{
    border-radius: 40px;
}

.leffty{
    margin-left: 350px;
}

.notnotasround{
    border-radius: 10px;
}

.doc-link{
    text-decoration: none;
}

.doc-link:hover, .doc.link:focus {
    text-decoration: none;
    color: 	#FF4500;
}

.grow{
    transition: all .2s ease-in-out;
    
}

.grow:hover{
    transform: scale(1.2);
}

ul{
    list-style-type: circle;
}

